body{
    text-align: center;
    font-size: xx-large;
    background-image: url("images/table.png");
    background-size: cover;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    font-size: large;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    margin-top: 50px;
    width: 200px;
    height: 40px;
    background-color: goldenrod;
}

button:hover{
    cursor: pointer;
}